@model List<Client>
@{
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Client</h4>
            <a class="btn btn-success" asp-controller="client" asp-action="create">Create Client</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                               Fullname
                            </th>
                            <th>
                                Profession
                            </th>

                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Client item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>

                                <td>
                                    @item.Name @item.Surname
                                </td>
                                <td>
                                    @item.Profession.Name
                                </td>

                                <td>
                                    <a class="btn btn-warning" asp-action="update" asp-controller="client" asp-route-id="@item.Id"><i class="mdi mdi-pencil-box"></i></a>
                                    <a class="btn btn-danger" asp-action="delete" asp-controller="client" asp-route-id="@item.Id"><i class="mdi mdi-delete"></i></a>
                                    <a class="btn btn-primary" asp-action="details" asp-controller="client" asp-route-id="@item.Id"><i class="mdi mdi-open-in-new"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



